/* Стили для страницы разработчиков */
.developers-title {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
}

.developers-list {
    text-align: center;
    list-style-type: none;
    padding: 0;
    font-size: 18px;
    color: #333;
}

.developers-list li {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.developer-photo {
    width: 50px; /* Размер фотографии */
    height: 50px;
    border-radius: 50%; /* Круглая форма */
    object-fit: cover; /* Сохраняет пропорции изображения */
    margin-right: 10px; /* Отступ справа */
}

.developer-name {
    color: yellow;
    margin-right: 5px; /* Отступ между именем и текстом */
}
